/* ==========================================================================
   GLOBAL RESET & VARIABLES
   ========================================================================== */

   :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
  
    background-image: url('/background.png');
    background-repeat: repeat;
    background-color: #121212;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* RESET EVERYTHING 
      Ensure full resizing for the overlay window 
  */
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  /* Remove default button styles that might clash */
  button {
    font-family: inherit;
  }